@import url('css/font.css');
.primary-color_color,
a, a:focus,
a.active,
a:active, a:hover, .sidebar ul li a:hover, .box-container:hover .box-title,
.creative-layout .top-bar-section ul.menu>li:hover:not(.has-form)>a,
.counter, .boxes.small .box-icon i {
  color: #ca2790;
}
.creative-layout .top-bar-section ul.menu>li:hover:not(.has-form)>a {
  color: #86CAFF;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-30 {
  padding-top: 30px;
}@media (max-width: 767px){li.name h1 {    color: #000 !important;    font-size: 28px !important;        margin-top: 25px !important;}.creative-layout .top-bar-container, .creative-layout .top-bar {    background-color: #FFF !important;}.creative-layout .top-bar {    height: 80px !important;}}@media (max-width: 991px){.creative.top-bar-section {    display: none;}}@media (min-width: 768px) and (max-width: 991px){.number {    padding-top: 27px;}}

body {
  background-color: #fff;
  color: #000;
  overflow-x : hidden;
}
table {
  background-color: #111;
  border: 1px solid #222;
}
table thead {
  background: #222;
}
table tr.even, table tr.alt,
table tr:nth-of-type(2n) {
  background: #191919 none repeat scroll 0% 0%;
}
table tr th, table tr td,
table thead tr th, table thead tr td{
  color: #EEE;
}
code, abbr[title] {
  color: #ddd;
}
/*--------------------------- Forms ----------------------*/
label {
  color: #000;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea,

.wpb_wrapper input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email,
.wpcf7-text{
  background-color: rgba(255, 255, 255, 0.09);
  border-color: rgba(98, 96, 96, 0.2) !important;
  transition: all .35s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus,
input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, input[type="color"]:focus, textarea:focus,

.wpb_wrapper input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email:focus,
.wpcf7-text:focus {
  border-color: #0E9CDE !important;
 /*  background-color: rgba(255, 255, 255, 0.2); */
}

@media only screen and (max-width: 40em){
  .creative-layout .top-bar .title-area .name,
  .top-bar-section, .top-bar-section ul, .top-bar-section li a:not(.button){
    background: #000;
  }
  .top-bar-section .dropdown li.title h5 a {
    color: #fff;
  }
}

@media only screen and (min-width: 900px) {
  .l-header.creative-layout {
    position: relative;
    width: 100%;
    z-index: 5;
  }
  .has-title-area .l-header.creative-layout,
  .blog .l-header.creative-layout,
  .single-post .l-header.creative-layout,
  .woocommerce-page .l-header.creative-layout {
    position: relative;
  }
  .creative-layout .top-bar-container {
    background-color: #36414B;
  }
  .contain-to-grid .top-bar {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.33);
  }
  .contain-to-grid .top-bar:hover {
    background: rgba(0, 0, 0, 0.66);
  }
  .creative.top-bar-section {
    background: transparent;
    top:0;
    box-shadow: none;
  }
  .creative-layout .top-bar-section ul li {
    background-color: transparent !important;
  }
  /*.creative-layout .top-bar-section ul li > a {
    color: #FFF;
  }*/
  .top-bar .name h1 a {
    background-image: url("../images/bg-logo-dark.html");
  }
  .social_logo_top {
    padding-top: 0px;
    padding-bottom: 2px;
  }


  .top-bar .name h1 a {
    padding: 10px 0 0;
    position: relative; 
    right: auto;
    width: 125px;
    background: rgba(5, 29, 61, 0.8);
  }
	.sticky.fixed .top-bar .name h1 a {
	 padding: 30px 0 0;	
		
	}

  /*______________Style 2___________*/
  .style-2 .contain-to-grid .top-bar {
    background: rgba(0, 0, 0, 0.8);
  }
  .style-2 .top-bar .name {
    font-size: 16px;
    height: 2.8125rem;
    /* margin-left: calc(50% - 133px); */
  }
  .style-2 .top-bar .name h1 a {
    background: transparent;
  }
  
  .style-2.creative-layout .fixed .top-bar.top_bar_logo_top .title-area {
    opacity: 0;
  }
  .style-2 .social_logo_top {
    width: 100%;
  }
  .style-2 .social_logo_top .contact-info {
    float: none;
    margin-left: 0;
  }
  
  .style-2 .creative.top-bar-section div.row {
    padding-left: 0;
  }
  .style-2.creative-layout .top-bar.top_bar_logo_top .menu-main-menu-container {
    text-align: center;
  }
  .style-2.creative-layout .top-bar.top_bar_logo_top .menu-main-menu-container ul.menu {
    text-align: center;
    float: none !important;
    margin: 0px auto;
  }
  .style-2 .top-bar-section ul li {
    float: none;
    display: inline-block;
    text-align: center;
  }

}



body p {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
}


/*________________  Page Tiles  ______________*/
.titlebar,
.woocommerce .titlebar {
  background: linear-gradient(to bottom, rgb(83, 8, 101) 0%, rgb(30, 3, 92) 100%);
  color: #fff;
  padding: 80px 0 45px 0;
  margin-bottom: 90px;
 background: url(../../uploads/2017/11/banner.jpg);
    background-position: center;
    background-size: cover;
	
}
.woocommerce .menu-overlay .titlebar {
  padding: 250px 0 45px 0;
}
.titlebar .title {
  color: #fff;
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}
.breadcrumbs,
.breadcrumbs a,
.breadcrumbs>.current a,
.breadcrumbs>* {
  color: #fff;
}
.breadcrumbs {
  margin-top: 10px;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
  margin-top: 10px;
}
/*_________________  Services List  ________________*/
div.wd-services {
  background-color: #FAFAFA !important;
}
.wd-services .wpb_wrapper > div {
  background: transparent !important;
}
.featured-box-text .featured-box-desc p {
  color: #767676;
}
@media only screen and (max-width: 900px) {
  .wd-services .vc_col-sm-4 {
    max-width: 100%;
  }
}
.wd-services .featured-box-text h4 {
  color: #083D66;
  font-family: open sans;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.vc_custom_1441214610146 {
  background-color: #000 !important;
}
.services-list > li {
  background-color: #222;
  border: 1px solid #222;
}
.services-list .alignnone {
  margin: 0 0 20px 0;
}
.services-list li h4 {
  color: #fff;
}
.services-list li h4:after {
  background: #F4BC16;
}
.services-list li h4 a {
  color: #fff;
}
.services-list > li p {
  color: #777;
}
.services-list li h4:after {
  background: #083D66;
}

/*_____________  Schedule free estimate  ______________*/
.vc_custom_1445451509021 {
  background: linear-gradient(to bottom, rgb(83, 8, 101) 0%, rgb(7, 62, 102) 100%)
}
div.wd-estimate.vc_row .row {
  max-width: 1170px;
  background-position: right !important;
}
.wd-estimate > .wpb_column:nth-child(2) {
  min-height: 430px;
}
@media (max-width: 768px) {
  .wd-estimate > .wpb_column:nth-child(2) {
    width: 100%;
  }
}

/*_____________  Our Numbers  ______________*/
div.vc_custom_1440852186193,
div.our-numbers {
  background-color: #fafafa !important;
}
.our-numbers h4 {
  color: #083D66;
}
.our-numbers p {
  color: #767676;
}
.our-numbers p a {
  color: #083D66;
}
.our-numbers .rounded-item .rounded-text {
  color: #000;
}
.our-numbers .rounded-item .rounded-number h3 {
  color: #444;
}
@media only screen and (max-width: 900px) {
  .our-numbers .vc_col-sm-6:last-child {
    min-width: 100%;
  }
}

/*_____________  Title  ______________*/
.wd-section-title.text-center>h2,
.title-center .wd-section-title.block-title>h2 {
  color: #083D66;
}
.wd-section-title>.subtitle {
  color: #767676;
}
.wd-section-title h2:after {
  background-color: #767676;
}

.job-list  .wd-section-title.text-center > h2 {
  color: #FFF;
}
/*_____________menu_______________*/
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: RGBA(26, 32, 36, 0.85);
  color: #f9f9f9;
  text-align: left;
}
.hidden-cart{
  background: #fff;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.hidden-cart li{
  color : #fff;
}
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
  background: rgba(12, 6, 2, 0.95);
  color: #fff;
}
/*_____________  Our Packages  ______________*/
.our-packages {
  background-color: #FAFAFA;
}
.our-packages .pricing-table .bullet-item, .our-packages .pricing-table .cta-button {
  background-color: #fff;
  color: #555;
}
.our-packages .featured .bullet-item, .our-packages .featured .cta-button {
  background-color: #DAAB1D;
  color: #FFF;
}
/*_____________  Presentation Block  ______________*/
.wd-presentation {
  text-align: left;
  padding: 50px 100px 50px 0;
}
.wd-presentation h4 {
  color: #242424;
  font-family: "open sans", sans;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 10px;
}
.wd-presentation h2 {
  font-family: "open sans", sans;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 29px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #083D66;
}
.wd-presentation p {
  color: #767676;  font-size:16px;
}
.wd-presentation .readmore {
  color: #FEFEFE;
}
@media only screen and (max-width: 900px) {
  .vc_custom_1443268288153 {
    padding: 100px;
    min-width: 80%;
  }
}
/*________________  Blog Post List  ______________*/
div.vc_custom_1445449073037 {
  background-color: #fff !important;
}
.post-item article.article {
  border: 1px solid #222;
  background-color: #222;
  text-align: center;
  transition: all .3s;
}
.post-item article.article:hover {
  background-color: #282828;
}
.blog-page.blog-shortcode article h2 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 30px;
}
.blog-page .post-datas {
  color: #bbb;
}
.blog-page .post-datas::before {
  background-color: #083D66;
  content: " ";
  height: 1px;
  position: absolute;
  top: 40px;
  width: 140px;
  left: calc(50% - 70px);
}
.post-text {
  color: #777;
  padding: 0px 12px 23px 10px;
}
.post-list .post-text .text-right{
  text-align: center !important;
}
.post-list .post-text .text-right a {
  color: #083D66;
  font-style: italic;
}
/*______________pagination_____________*/
.wd-pagination span {
  background: #083D66;
}
.blog-page .post-infos li {
  margin-bottom:10px;
}
/*___________________  Blog Post List  ______________*/
#commentform label {
  margin-bottom: 2px;
  margin-top: 8px;
}
.woocommerce #respond input#submit {
  background-color: #f5c93e;
}

/************** small recent from blog **************/
.small-blog.blog-shortcode {
  margin: 0;
  width: 100%;
}



/*__________________  Career Opportunities  ______________*/
div.vc_custom_1441219013102 {
  background-color: #111 !important;
}
.careers h3 {
  color: #083D66;
}
.careers .vacancyList li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin-left: 60px;
  margin-right: 80px;
}
.careers .vacancyList li .job {
  color: #fff;
  font-weight: 700;
}
.careers .vacancy>a {
  color: RGBA(255, 255, 255, 0.29);
}
.careers .job-list {
  background: -webkit-linear-gradient(to bottom right, rgb(0, 113, 219), rgb(0, 89, 171)); /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(to bottom right, rgb(0, 113, 219), rgb(0, 89, 171));  /* Firefox 3.6+ */
  background: -ms-linear-gradient(to bottom right, rgb(0, 113, 219), rgb(0, 89, 171)); /* IE 10 */
  background: linear-gradient(to right bottom, rgb(0, 113, 219), rgb(0, 89, 171));
}
.careers .careers-left h4 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height:
  44px; font-size: 40px;
}

.job-list .wd-section-title > .subtitle {
  color: rgba(255, 255, 255, 0.8);
}

/*_____________  Team Members  ______________*/
li .team-member-item {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  transition: all .3s;
}
li .team-member-item:hover {
  background-color: #FAFAFA;
}
.team-member-item h3 {
  font-size: 17px;
  color: #083D66;
}
.team-member-item h4 {
  color: #222;
}
.team-member-desc>p {
  color: #777;
}
.team-membre-social-icons ul {
  border-top: 1px solid #eee;
}
.team-membre-social-icons ul li a {
  background-color: #083D66;
  border-color: #083D66;
}
.team-membre-social-icons ul li a:hover {
  background-color: #FFF;
  border-color: #083D66;
  color: #083D66;
}

/*_____________  Call to Action  ______________*/
div.vc_general.vc_cta3.vc_cta3-style-custom {
  border-color: #333;
  background-color: #333;
}
div.vc_general.vc_cta3.vc_cta3-style-custom h2 {
  color: #eee !important;
  font-size: 22px;
  padding-top: 6px;
}

/*____________contact_________________*/
.map-description h4 {
  color: #333;
}
/*_____________  Blog  ______________*/
.blog-page .large-block-grid-3>li {
  margin-bottom: 25px;
  padding: 0 9px 10px;
}
.blog-page .post.has-post-thumbnail header {
  margin-bottom: 25px;
}
.blog-page .post-infos {
  margin: 0 0 0px;
  font-size: 13px;
  line-height: 12px;
}
.blog-page article h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 20px 0 0;
}
.blog-page .quote-format blockquote {
  background-color: #191919;
}
.blog-page .format-link .quote-format blockquote {
  background:none;
}
.blog-page .quote-format p,
.blog-page .quote-format p a {
  font-weight: 500;
}

/*_____________  WoooCommmerce  ______________
.woocommerce .titlebar {
  background-image: none;
}*/
.woocommerce ul.products .product.type-product.status-publish.has-post-thumbnail {
  border: none;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
  color: #083D66;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
  color: #555;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
  background-color: #f0f0f0;
}

.woocommerce nav.woocommerce-pagination ul {
  border: 1px solid #333;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #083D66;
  color: #FFFFFF;
}
.summary.entry-summary > div[itemprop="description"] p {
  clear: both;
}
.woocommerce div.product .woocommerce-tabs .panel {
  background-color: rgba(255, 255, 255, 0.11);
}
.woocommerce div.product .woocommerce-tabs .panel p {
  color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: 0;
}
.woocommerce #reviews h3 {
  margin: 40px 0 20px 0;
  color: #000;
}
/*_____________________  comments  ______________*/
section.comment {
  border-bottom: 1px solid rgba(244, 244, 244, 0.14);
}
.comment-reply-link {
  color: #083D66;
  font-size: 12px;
  float: none;
}
.button.small[type="submit"] {
  text-transform: uppercase;
  font-size: 13px;
}

/*_____________________  Sidebar  ______________*/
.sidebar>section ul li {
  border-top: 1px solid rgba(255, 250, 250, 0.22);
  padding: 10px 0;
}
.sidebar ul li a {
}

/*  Search   */
.searchform #s {
  color: #fff;
  box-shadow: none;
  border: none;
  background-color: #333;
}

/*  Latest Posts   */
.sidebar .latest-posts ul li {
  border: none;
}
.latest-posts .blog-title {
  margin: 0;
  line-height: 12px;
  padding-bottom: 7px;
}
.latest-posts .blog-title a {
  font-size: 15px;
  font-weight: 500;
}
/*  Woocommerce   */
.product_list_widget > li {
  border-bottom: 1px solid #d9d9d9;
}
.widget_product_search.shop-widgets {
  padding: 40px 0 20px;
}
.widget_product_search.shop-widgets .search-field {
  border: 1px solid #ccc;
  color: #666;
}
.woocommerce-product-search > input[type="submit"] {
  background-color: #251A5A;
  font-weight: 600;
  padding: 8px 20px;
  color: #fff;
}
.woocommerce-product-search > input[type="submit"]:hover {
  padding: 8px 30px;
}
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.product_list_widget li a {
  color: #555;
}
.woocommerce ul.product_list_widget li a:hover,
.woocommerce-page ul.product_list_widget li a:hover {
  color: #222;
}
.woocommerce .star-rating {
  height: 1.5em;
  font-size: .75em;
  color: #083D66;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  border-radius: 7px;
  top: -6px;
}
.amount {
  margin-left: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 3px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background: #083D66;
}

select, select:hover {
  background-color:transparent;
  background-image:url(../images/flech.html)
}
.tagcloud a {
  background: #222;
  padding: 4px 5px;
}
.wp-caption {
  background: #222 none repeat scroll 0 0;
  border: 1px solid #333;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.sidebar   table {
  background:#000000;
}
.sidebar table caption,.sidebar table#wp-calendar a {
  color:#fff;
}
.sidebar table tr th, .sidebar table tr td {
  color:#eee;
}
/*_______________________________  Services sidebar  __________________________*/
.sidebar-second.sidebar-left ul li {
  border-left: none;
  border-left: 0px solid #000;
}
.sidebar-second.sidebar-left ul li:hover {
  border-left: 0px solid #083D66;
}
.sidebar-second.sidebar-left ul li:hover,
.sidebar-second.sidebar-left ul li.current-menu-item,
.sidebar-second.sidebar-left ul li.current-menu-item:hover {
  background: #f0f0f0;
  background: repeating-linear-gradient(-55deg, #f0f0f0, #f0f0f0 10px, #f5f5f5 10px, #f5f5f5 20px) repeat scroll 0% 0%;
}
.sidebar-second.sidebar-left ul li.current-menu-item a,
.sidebar-second.sidebar-left ul li:hover a {
  color: #083D66;
}
.sidebar-second.sidebar-left ul li.current-menu-item a, .sidebar-second.sidebar-left ul li.current-menu-item:hover a {
  color: #083D66;
}

.sidebar-second.sidebar-left > section ul li:first-child {
  border-top: 1px solid #555;
}


/*_________________________________  Footer  __________________________________*/
.l-footer-columns {
  background-color: #1E222C;
  padding-top: 40px;

}
.l-footer {
  background-color: rgba(0, 0, 0, 0.49);
  padding: 5px 0;
}
#menu-footer-menu.menu {
  margin-bottom: 15px;
}
.l-footer .row {
  border: none;
}

.newsletter-div input.email-adress {
  background-color: transparent;
  height: 40px;
  width: auto;
}
.newsletter-div .newslettersubmit {
  left: 172px;
  background-color: #083D66;
}

/*_______________________________  Tabs & Accordion  _____________________________*/
div.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content{
  background-color: rgba(255, 249, 249, 0.13);
}
div.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header,
div.wpb_wrapper ul.ui-tabs-nav li.ui-state-default {
  background-color: rgba(255, 255, 255, 0.44);
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active.tabs-icon,
.wpb_content_element .wpb_tabs_nav li.tabs-icon:hover {
  background-color: rgba(255, 255, 255, 0.58);
}

/*_______________________________  Pagination  _____________________________*/
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  padding: 8px 18px;
}
.woocommerce .products .product .button, .woocommerce .widget_price_filter .price_slider_amount .button {
  background-color: #083D66;
}

.wd-front-panel table tr.even, .wd-front-panel table tr.alt, .wd-front-panel table tr:nth-of-type(2n) {
  background-color: #f4f4f4;
}
.wd-front-panel table tr th, .wd-front-panel table tr td, .wd-front-panel table thead tr th, .wd-front-panel table thead tr td {
  color: #333333;
}
.wpb_animate_when_almost_visible {
    opacity: 1 !important;
}
.vc_row.wpb_row.vc_row-fluid.text-center.vc_custom_1457025556613 {
    background: #0071db;
    padding-top: 45px;
    padding-bottom: 80px;
}

.vc_row.wpb_row.vc_row-fluid.brochure.vc_custom_1488556436414{
	/*background-image: url(http://iphonerepairmumbai.in/wp-content/uploads/2017/11/phone-blocks-1.jpg);*/
	    padding-top: 100px !important;
    padding-bottom: 60px !important;
}

.wpb_column.vc_column_container.vc_col-sm-7.vc_custom_1488556501833 {
    padding-top: 320px !important;
    padding-bottom: 30px !important;
    background-image: url(../../uploads/2017/11/phone-guy.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.job-list.wpb_column.vc_column_container.vc_col-sm-5.vc_custom_1443281548968 .wpb_wrapper {
    padding-top: 15px !important;
    padding-bottom: 60px !important;
}
.wpb_text_column.wpb_content_element.wpb_animate_when_almost_visible.wpb_right-to-left.vc_custom_1454879447321 .wd-section-title.text-center {
    padding-top: 70px  !important;
    padding-bottom: 50px  !important;
}
.vc_row.wpb_row.vc_row-fluid.wd-services.vc_custom_1457185956815 {
    padding-bottom: 45px !important;
    padding-top: 70px !important;
}
section.l-footer-columns .col-md-12.col-sm-12.col-xs-12.nopadding .footer_block h4 {
    color: #fff !important;
}
.l-footer p {
    color: #f7f7f7 !important;
    opacity: 1 !important;
}
.l-footer p a {
    color: #ff7600;
}
.amazingslider-box-1 div a {
    display: none !important;
    opacity: 0 !important;
}
.content-area .hentry__content {
    padding-top: 45px;
    padding-bottom: 45px;
}

h1.page-header__title {
    color: #fff !important;
}
ul#breadcrumbs a {
    color: #fff;
}
ul#breadcrumbs li {
    float: left;
    margin-left: 5px;
}
header.entry-header {
    display: none;
}
.page_id section.titlebar {
    margin-bottom: 0 !important;
}
.vc_icon_element-inner.vc_icon_element-color-orange.vc_icon_element-size-md.vc_icon_element-style-.vc_icon_element-background-color-grey span.fa.fa-map {
    color: #f57a1b;
    font-size: 30px;
}
.menu-main-menu-container {
    width: 400px;
    margin: 0 auto;
}#wonderplugincarousel-3 .amazingcarousel-image div a {    display: none !important;    opacity: -999999 !important;    z-index: -999999 !important;}#wonderplugincarousel-3 .amazingcarousel-image a+div{     display: none !important;    opacity: -999999 !important;    z-index: -999999 !important;}input.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number,input.wpcf7-form-control.wpcf7-captchar.career_contact {    background-color: #fff;    border: 1px solid #ccc !important;    height: 3.7em !important;    padding: 10px 30px 10px 20px !important;}.wpb_column.vc_column_container.vc_col-sm-8.contact-form img.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-1.input-xlarge-res {    position: absolute;    bottom: 108px;    right: 18px;}h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {    color: #b42c2c;    font-weight: inherit;}.small-12.columns.small-centered input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, .wpb_wrapper input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email, .wpcf7-text {    background: #fff;}.small-12.columns.small-centered img.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-1.input-xlarge-res {    position: absolute;    right: 18px;    bottom: 25px;}.col-md-12.text-left input.wpcf7-form-control.wpcf7-submit {    margin-top: 19px;    background: transparent;    border: 1px solid #fff;}#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus {    background: #fff !important;    font-weight: normal;    text-decoration: none;    color: #333 !important;}#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {    display: block;    background: #020303 !important;    color: #fff !important;    font-family: inherit;    font-size: 14px;    font-weight: normal;    padding: 0px 10px 0px 10px;    line-height: 35px;    text-decoration: none;    text-transform: none;    vertical-align: baseline;    width: 120% !important;}.post_content.col.span_3_of_4 table {    border-collapse: collapse;    border-spacing: 0;    background:transparent;    border:none;}.post_content.col.span_3_of_4 ul li{    list-style: disc;    list-style-position: inside;    color:#000;    line-height: 1.5em;    margin-bottom: 6px;    font-size:16px;}.post_content.col.span_3_of_4 td {    padding-left:0px;    /* width: 0.1%; */    display: table-cell;}#mega-menu-wrap-primary{	background:transparent !important;}.wpb_column.vc_column_container.vc_col-sm-3.iphone {    border: 1px solid #eee;    padding: 10px;    border-radius: 6px;    margin: 0px;    background: #fff;}
ul.personal-info li {
    line-height: 2.6em;
}
.wd-section-title.text-center.let h2::after {
    background: #fff;
}
.col-md-12.content table 
{   
 border-collapse: collapse;    border-spacing: 0;    background:transparent;    border:none;
 }
.col-md-12.content ul li
{    
list-style: disc;    list-style-position: inside;    color:#000;    line-height: 1.5em;    margin-bottom: 6px;    font-size:16px;
}
.col-md-12.content td 
{  
  padding-left:0px;    /* width: 0.1%; */    display: table-cell;
}
nav.top-bar.top_bar_logo_top li h1 {
    color: #fff;
    font-size: 46px;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	    float: left;
    margin-top: 30px;
}
.chapternav {
   background: #fff;
}
.chapternav {
   background: #fff;
   overflow: hidden;
   padding: 0;
   padding-top: 12px;
   padding-bottom: 12px;
   position: relative;
   text-align: center;
   width: 100%;
   height: 86px;
   z-index: 9987;
}
.chapternav-wrapper {
   position: relative;
   height: 100%;
   z-index: 1;
}
@media only screen and (orientation: landscape)
{
.chapternav-items {
   padding-bottom: 49px;
}
}
.chapternav-items {
   list-style: none;
   margin: 0 34px;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   padding-bottom: 50px;
   white-space: nowrap;
}
.chapternav-item:first-child {
   margin-left: 0;
   padding-left: 0;
}
.chapternav-item {
   -webkit-animation: chapternav-slidein 350ms backwards;
   animation: chapternav-slidein 350ms backwards;
}
.chapternav-item {
   display: inline-block;
   vertical-align: top;
   margin: 0 -.11765em;
   padding: 0 20px;
}
a:link, a:visited {
   text-decoration: none;
}
.chapternav-link {
   color: #111;
   display: block;
   margin-top: 3px;
   padding: 0;
   position: relative;
   z-index: 1;
}
.chapternav-item-overview .chapternav-icon {
   background-size: auto auto;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/icon.png);
}
.chapternav-icon {
   background: center bottom no-repeat;
   display: block;
   margin: 0 auto 1px;
   height: 54px;
}
.chapternav-label {
   font-size: 11px;
   line-height: 1.09091;
   font-weight: 400;
   letter-spacing: -.008em;
   font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   display: block;
   margin: 0;
}
.chapternav-new {
   font-size: 9px;
   line-height: 1.22226;
   font-weight: 400;
   letter-spacing: -.006em;
   font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   color: #e85d00;
   display: block;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
}
@media only screen and (orientation: landscape)
{
.chapternav-items {
   padding-bottom: 49px;
}
}
.text-right p {
    color: #fff;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.service {
    padding-bottom: 45px;
}
.nopadding {
    padding: 0px;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.block-service_item {
    min-height: 250px;
    padding: 30px 30px;
    background-color: #f8f8f8;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
}
.block-service_item-icon {
    font-size: 60px;
    color: #000;
}
.block-service_item-title h4 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1.3em;
    color: #000;
}
.block-service_item-desc {
    display: none;
}
.block-service_item-desc p {
    color: #fff;
}
section#services a {
    /* border: 1px solid #fff; */
    padding: 5px;
    border-radius: 12px;
    color: #000;
    font-size: 13px;
    /* display: inline-block; */
    /* padding-left: 7px; */
    transition: all 500ms ease;
    transition: all 0.5s ease 0s;
    text-decoration: none;
    outline: none;
    border: none;
}
.block-service_item:hover, .block-service_item.active {
       /*  background: linear-gradient(135deg, #7b33be 0%, #b320d0 100%); */
	       background: #e6e6e6;
}
.block-service_item-icon img {
    width: 76px;
}
.block-service_item:hover, .block-service_item.active {
    /* background: #ffc000; */
}
.block-service_item {
    min-height: 250px;
    padding: 30px 30px;
    background-color: #f8f8f8;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
}
.block-service_item {
    min-height: 250px;
    padding: 30px 30px;
    background-color: #f8f8f8;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
}
.block-service_item {
    min-height: 250px;
    padding: 30px 30px;
    background-color: #f8f8f8;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
}
.block-service_item:hover .block-service_item-desc, .block-service_item.active .block-service_item-desc {
    display: block;
    color: #FFFFFF !important;
    margin-top: 25px;
}
@media (min-width: 992px)
{
.fw-col-md-3 {
    width: 25%;
}
}
.block-service_item:hover .block-service_item-bgicon, .block-service_item.active .block-service_item-bgicon {
    opacity: 0.2;
}
.block-service_item-bgicon {
    position: absolute;
    top: -30%;
    right: -30%;
    font-size: 200px;
    opacity: 0.1;
}
.block-service_item-bgicon {
    position: absolute;
    top: -30%;
    right: -30%;
    font-size: 200px;
    opacity: 0.1;
}
body p, .fw-desc, .servide-desc {
    font-family: inherit;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #686868;
}
.block-service_item:hover .block-service_item-icon, .block-service_item.active .block-service_item-icon {
   /*  display: none; */
}
.chapternav-item-iphone-8 .chapternav-icon {
   background-size: auto auto;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone5.jpg);
}
.chapternav-item-iphone-7 .chapternav-icon {
   
   background-size: auto auto;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone5.jpg);
}
.chapternav-item-iphone-6s .chapternav-icon {
 
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone7.jpg);
}
.chapternav-item-iphone-se .chapternav-icon {
   background-size: auto auto;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone7.jpg);
}
.chapternav-item-ios .chapternav-icon {
   
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone7.jpg);
}
.chapternav-item-accessories .chapternav-icon {
   width: 44px;
   height: 54px;
   background-size: 44px 54px;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone7.jpg);
}
.chapternav-item-compare .chapternav-icon {
   width: 50px;
   height: 54px;
   background-size: 50px 54px;
   background-repeat: no-repeat;
   background-image: url(../../uploads/2017/11/iphone7.jpg);
}

.footer_block h1 {
color: #fff;
}
#mega-menu-wrap-primary #mega-menu-primary
{
	    padding: 30px 0px 0px 0px !important;
}
.number{
	padding-top: 44px;
}
.number p {
    color: #fff;
    font-size: 1xp;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link
{
	font-size: 15px !important;
}
.footer_block p{
    color: #fff;
}
@media (max-width:991px)
{
	html
	{
		    overflow-x: hidden;
	}
}
.vc_row.wpb_row.vc_row-fluid.text-center.vc_custom_1457025556613.pickup{
    position: relative;
}
.vc_row.wpb_row.vc_row-fluid.text-center.vc_custom_1457025556613.pickup::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.vc_row.wpb_row.vc_row-fluid.text-center.vc_custom_1457025556613.pickup:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

@media (maw-width: 991px)
{
	.wpb_column.vc_column_container.vc_col-sm-6.iphn {
    padding-top: 65px !important;
}
.our-numbers {
    padding: 25px 0 !important;
}
}/* shams Responsive *//* Shams Responsive */